<br>
<div class="page-header">
    <h1>Cortes programados</h1>
</div>
<md-card>
    <md-spinner></md-spinner>
    <md-card-content>
        <md-nav-list>
            <md-list-item *ngFor="let scheduledOutage of scheduledOutages">
                <h3 md-line> {{scheduledOutage.zones}} </h3>
                <p md-line>
                    <span> {{scheduledOutage.start_date}} </span>
                    <span class="demo-2"> -- {{scheduledOutage.end_date}} </span>
                </p>
            </md-list-item>
        </md-nav-list>
    </md-card-content>
</md-card>