<br>
<div class="page-header">
    <h1>Cortes programados</h1>
</div>
<div class="well bs-component">
    <div class="row" *ngIf="!scheduledOutages">
        <md-spinner class="col-md-1 vcenter" style="height: 80px; width: 80px;"></md-spinner>
        <h4 class="col-md-8 vcenter">Cargando cortes programados&#x2026;</h4>
    </div>
    <md-nav-list *ngIf="scheduledOutages">
        <md-list-item *ngFor="let scheduledOutage of scheduledOutages">
            <a href="#"></a>
            <h4 style="font-size: 26px" md-line> {{scheduledOutage.start_date |
                amDateFormat:'dddd, DD [de] MMMM, YYYY' | capitalize}} </h4>
            <p style="font-size: 18px" md-line>
                <span>De {{scheduledOutage.start_date | amDateFormat:'HH:mm'}} </span>
                <span> a {{scheduledOutage.end_date | amDateFormat:'HH:mm'}} </span>
            </p>
            <p md-line> {{scheduledOutage.zones}} </p>
        </md-list-item>
    </md-nav-list>
</div>