<br>
<div class="page-header">
    <h1>Agregar corte programado</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <form class="form-horizontal" (submit)="registerOutage($event)" role="form">
            <div class="form-group">
                <label class="col-md-2 control-label">Fecha de inicio</label>
                <div class="col-md-10">
                    <datetime required [(ngModel)]="startDate" [timepicker]="{showMeridian: false, minuteStep: 5}"
                              [(datepicker)]="startDatepickerOptions" (dateChange)="startDateChanged()"></datetime>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Fecha de finalización</label>
                <div class="col-md-10">
                    <datetime required [(ngModel)]="endDate" [timepicker]="{showMeridian: false, minuteStep: 5}"
                              [(datepicker)]="endDatepickerOptions"></datetime>
                </div>
            </div>
            <div class="form-group">
                <label for="zones" class="col-md-2 control-label">Zonas</label>
                <div class="col-md-8">
                    <textarea required class="form-control" [(ngModel)]="zones"
                              maxlength="1024" rows="2" id="zones"></textarea>
                    <md-hint *ngIf="zones"  class="pull-right" align="end">{{zones.length}} / 1024</md-hint>
                </div>
            </div>
            <div class="form-group">
                <label for="industries" class="col-md-2 control-label">Industrias</label>
                <div class="col-md-8">
                    <textarea class="form-control" [(ngModel)]="industries"
                              maxlength="1024" rows="2" id="industries"></textarea>
                    <md-hint *ngIf="industries" class="pull-right" align="end">{{industries.length}} / 1024</md-hint>
                </div>
            </div>
            <div class="form-group">
                <label for="buildings" class="col-md-2 control-label">Edificios</label>
                <div class="col-md-8">
                    <textarea class="form-control" [(ngModel)]="buildings"
                              maxlength="1024" rows="2" id="buildings"></textarea>
                    <md-hint *ngIf="buildings" class="pull-right" align="end">{{buildings.length}} / 1024</md-hint>
                </div>
            </div>
            <div class="form-group">
                <label for="hospitals" class="col-md-2 control-label">Hospitales - Clínicas</label>
                <div class="col-md-8">
                    <textarea class="form-control" [(ngModel)]="hospitals"
                              maxlength="1024" rows="2" id="hospitals"></textarea>
                    <md-hint *ngIf="hospitals" class="pull-right" align="end">{{hospitals.length}} / 1024</md-hint>
                </div>
            </div>
            <div class="form-group">
                <label for="radioAntennas" class="col-md-2 control-label">Radios - Antenas</label>
                <div class="col-md-8">
                    <textarea class="form-control" [(ngModel)]="radioAntennas"
                              maxlength="1024" rows="2" id="radioAntennas"></textarea>
                    <md-hint *ngIf="radioAntennas" class="pull-right" align="end">{{radioAntennas.length}} / 1024</md-hint>
                </div>
            </div>
            <div class="form-group">
                <label for="farms" class="col-md-2 control-label">Granjas</label>
                <div class="col-md-8">
                    <textarea class="form-control" [(ngModel)]="farms"
                              maxlength="1024" rows="2" id="farms"></textarea>
                    <md-hint *ngIf="farms" class="pull-right" align="end">{{farms.length}} / 1024</md-hint>
                </div>
            </div>
            <div class="form-group">
                <label for="poles-input" class="col-md-2 control-label">Agregar postes</label>
                <div class="col-md-7 dropdown" [ngClass]="{open: arePowerPoles}">
                    <input id="poles-input"
                           autocomplete="off" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"
                           [(ngModel)]="powerPoleSearch"
                           class="form-control dropdown-toggle"
                           type="text" [ngFormControl]="term"/>
                    <ul class="dropdown-menu">
                        <li *ngFor="let powerPole of powerPoles | async" (click)="selectPowerPole(powerPole)">
                            <a href="javascript:">{{powerPole.pole_code}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <button md-mini-fab color="primary" [disabled]="selectedPowerPole==null"
                        (click)="addSelectedPole()" type="button" >
                        <md-icon class="md-24">add</md-icon>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Postes seleccionados</label>
                <md-list *ngIf="selectedPowerPoles.length > 0" class="col-md-8" >
                    <md-list-item *ngFor="let powerPole of selectedPowerPoles">
                        <h4 style="font-size: 18px" md-line> {{powerPole.pole_code}} </h4>
                        <p style="font-size: 15px" md-line>
                            <span>Poste de {{powerPole.material}} {{powerPole.tension_type}}</span>
                        </p>
                        <p style="font-size: 13px" md-line>
                            <span>Estado: <b>{{powerPole.condition }}</b></span>
                        </p>
                    </md-list-item>
                </md-list>
                <label class="control-label" *ngIf="selectedPowerPoles.length == 0" >
                    <i>No se seleccionó ningún poste para este corte</i>
                </label>
            </div>

            <div class="form-group">
                <div *ngIf="!isRegistering && !errorMsg" class="col-md-10 col-md-offset-2">
                    <button md-button color="primary" type="submit">GUARDAR</button>
                </div>
                <div class="form-group" *ngIf="isRegistering && !errorMsg">
                    <md-spinner class=" col-md-offset-2 col-md-1 vcenter" style="height: 80px; width: 80px;"></md-spinner>
                    <h4 class="col-md-8 vcenter">Registrando corte programado&#x2026;</h4>
                </div>
                <div *ngIf="errorMsg" class="col-md-10 col-md-offset-2
                        alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    Ocurrió un error al registrar el corte programado:<br/><br/>
                    <strong>{{errorMsg}}</strong><br/><br/>
                    <a href="javascript:" (click)="errorMsg = null"
                       class="alert-link">Intentarlo de nuevo</a>
                </div>
            </div>
        </form>
    </div>
</div>